<div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 center side-bar fill-height no-padding row"> 

<div class="col-md-3 col-lg-3 col-xs-3 col-sm-3 no-padding"></div>
<div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 no-padding">
    <div class="card  margin-page">
        <div class="card-body">
            <fieldset>
                <legend>Premiações</legend>
                <!-- Display the countdown timer in an element -->
                
                Tempo até o próximo sorteio: <b><label id="countdown"></label></b>
                
                
                <table class="fill-width">
                    <tr>
                        <th colspan="4">Total de tickets ativos: <%= @total %></th>
                    </tr>
                    <tr>
                        <td colspan="4" id="txt"></td>
                    </tr>
                    <% counter = 0 %>
                    <% PROPORTIONS.each do |k| %>
                     <tr> 
                  		<td> <%= counter = counter+1 %> - </td> 
                  		<td colspan="3"> <%= (BigDecimal((@total * @cost) * BigDecimal("#{(BigDecimal(k,8)/100)}")).truncate(8)).to_s %> <b><%= @currency %></b> </td> 
                      </tr>
                    <% end %>
                </table>
                <p>
                    Deseja ser notificado dos sorteios?
                    <%= render '/layouts/email_notify_form' %>
                </p>
                <p>
                    Verifique seu histórico de jogos:
                    <%= render '/layouts/history_form' %>
                </p>
            </fieldset>
        </div>
    </div>
    
</div>

</div>

<div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 fill-height no-padding row">
    <div class="col-md-3 col-lg-3 col-xs-3 col-sm-3 no-padding"></div>
    <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 margin-page no-padding">
        <div class="card">
            <div class="card-body">
                <div id="warn_message"> </div>
                <div id="ticket_form">
                    <%= render 'layouts/buy_form' %>
                </div>
            </div>
        </div>
    </div>
</div>


<script>


    // Set the date we're counting down to "Sep 5, 2018 15:37:25"
    var countDownDate = new Date("<%= @string_date %>").getTime();
    
    // Update the count down every 1 second
    var x = setInterval(function() {
    
      // Get todays date and time
      var now = new Date().getTime();
    
      // Find the distance between now an the count down date
      var distance = countDownDate - now;
    
      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
      // Display the result in the element with id="demo"
      document.getElementById("countdown").innerHTML = days + "d " + hours + "h "
      + minutes + "m " + seconds + "s ";
    
      // If the count down is finished, write some text 
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("countdown").innerHTML = "EXPIRED";
      }
    }, 1000);
</script>