<!DOCTYPE html>
<html>
  <head>
    <title>Bit8 Loterias</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>
  <script src='https://www.google.com/recaptcha/api.js'></script>

  <body>
    <div class="row no-margin">
      <%= yield %>  
    </div>
  </body>
</html>
